* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'system-ui';
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

.Container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.Content {
    padding: 1rem 0;
}

.Navbar {
    background-color: #111111;
    color: #fff;
    padding: 1rem;
}

.Navbar--List {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.Navbar--List--Item {
    margin-left: 1rem;
}

.List--Item--Link {
    color: #fff;
    text-decoration: none;
}

.List--Item--Button {
    background-color: #fff;
    color: #111111;
    padding: 0.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
}

.List--Item--Logout {
    background-color: #fff;
    color: #111111;
    padding: 0.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
}

.ChallengeHomeCard {
    border: 2px solid #d7d7d7;
    padding: 16px;
    margin: 8px 0;
    border-radius: 8px;
}

.ChallengeHomeCard-Title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.ChallengeHomeCard-Author {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: gray;
}

.ChallengeHomeCard-Description {
    font-size: 1rem;
    font-weight: 400;
    margin: 8px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Número de líneas a mostrar */
    overflow: hidden;
}

.TagsContainer {
    display: flex;
    gap: 8px;
    margin: 8px 0;
}

.Tag {
    font-size: 12px;
    background-color: #e7e7e7;
    color: #343434;
    padding: 4px 16px;
    border-radius: 16px;
    text-decoration: none;
}

.ButtonLink {
    display: block;
    text-decoration: none;
    color: white;
    background: #7f3cee;
    padding: 8px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.ButtonLink:hover {
    background: #5f1bbf;
}

.ButtonLink-Outline {
    display: block;
    text-decoration: none;
    color: #7f3cee;
    background: #fff;
    padding: 4px;
    font-weight: 500;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
    border: 2px solid #7f3cee;
}

.ButtonLink-Outline:hover {
    background: rgba(127, 60, 238, 0.10);
}

.ButtonsContainer {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 8px 0;
}

.ChallengeDetail-View {
    display: flex;
}

.ChallengeDetail {
    flex-basis: 70%;
    border-right: 2px solid #d7d7d7;
}

.ChallengeDetail-Title {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.ChallengeDetail-Author {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: gray;
}

.ChallengeDetail-Description {
    font-size: 1rem;
    font-weight: 400;
    margin: 8px 0;
    padding-right: 20px;
    white-space: pre-line;
}

.SolutionIntent {
    flex-basis: 30%;
    padding: 16px;
}

.SolutionIntent-Message {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.FormElement {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.FormElement label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.FormElement input {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    font-size: 1rem;
}

.FormElement textarea {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #d7d7d7;
    font-size: 1rem;
    resize: none;
}

.FormElement input[type='checkbox'] {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
}

.TagsForm {
    display: flex;
    gap: 8px;
    margin-bottom: 1rem;
}

.TagForm {
    display: flex;
    align-items: center;
}

.TagForm label {
    margin-bottom: 0;
}

.SubmitButton {
    font-size: 16px;
    background-color: #7f3cee;
    color: #fff;
    padding: 0.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    width: 100%;
    text-align: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.SubmitButton:hover {
    background-color: #5f1bbf;
}

.NewChallengeTitle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.FormTitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.Login {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.SignFormContainer {
    padding: 32px 80px;
}

.SignFormContainer:nth-child(2) {
    border-left: 2px solid #d7d7d7;
}

.Profile-ContributionsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Profile-ContributionColumn {
    padding: 64px;
}

.Profile-ColumnTitle {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.ContributionCard {
    border: 2px solid #d7d7d7;
    padding: 16px;
    margin: 8px 0;
    border-radius: 8px;
}

.ContributionTitle {
    font-size: 1.15rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.ContributionDescription {
    font-size: 1rem;
    font-weight: 400;
    margin: 8px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* Número de líneas a mostrar */
    overflow: hidden;
}

.SolutionDetail-ChallengeTitle {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.SolutionDetail-Author {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: gray;
}

.SolutionDetail-Description {
    font-size: 1rem;
    font-weight: 400;
    margin: 8px 0;
    padding-right: 20px;
    white-space: pre-line;
}

hr {
    border: 1px solid #d7d7d7;
    margin: 16px 0;
}

.Comment {
    margin: 1.2rem 0.5rem;
}

.Comment-Content {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #3f3f3f;
    white-space: pre-line;
}

.Comment-Author {
    font-size: 1.2rem;
    font-weight: 500;
}
