* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'system-ui';
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

.Container {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.Content {
    padding: 1rem 0;
}

.Navbar {
    background-color: #111111;
    color: #fff;
    padding: 1rem;
}

.Navbar--List {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
}

.Navbar--List--Item {
    margin-left: 1rem;
}

.List--Item--Link {
    color: #fff;
    text-decoration: none;
}

.List--Item--Button {
    background-color: #fff;
    color: #111111;
    padding: 0.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
}

.List--Item--Logout {
    background-color: #fff;
    color: #111111;
    padding: 0.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
}
